@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

:root {
    --fonte-principal: "Montserrat", sans-serif;
    --segunda-fonte: "Manrope", serif;
    --cor-primaria: #AA5486;
    --bg-color: #FDE7BB;
}

body {
    background-color: var(--bg-color);
    color: var(--cor-primaria);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--fonte-principal);
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 50px;
    font-family: var(--segunda-fonte);
}

h3 {
    font-size: 2em;
    margin-top: 20px;
    font-family: var(--segunda-fonte);
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: 2px solid var(--cor-primaria);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.btn-jogar {
    padding: 20px 30px;
    border: 0;
    background: var(--cor-primaria);
    border-radius: 5px;
    margin-top: 20px;
    color: var(--bg-color);
    font-size: 1em;
}